body {
    font-family: 'Poppins', sans-serif;
    color: #333;
  }

.hero {
    background: url('https://images.unsplash.com/photo-1501117716987-c8e1ecb210f3') center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
}
.contacto {
    background: #f0f0f0;
    padding: 60px 20px;
  }